
header{
  height:auto;
  position:fixed;
  background-color: rgba(0, 0, 0, 0.568);
  top:0;
  width:100%;

}

body{
    background-color: black;
}
footer{
 
  bottom: 0%; 
  background: rgba(88, 88, 88, 0.514);
  border-top-left-radius: 55px;
}


/*FONTS*/
h1{
    color: white;
    font-family: 'Bebas Neue', cursive;
    font-weight: 400;
    letter-spacing: 5px;
}

h2{
    color: white;
    font-family: 'Bebas Neue', cursive;
    font-weight: 100;
    letter-spacing: 5px;
}

h3{
    color: black;
    font-family: 'Bebas Neue', cursive;
    font-size: 25px;
    letter-spacing: 5px;
}
h4{
    color: lightgrey;
    font-family: 'Smooch Sans', sans-serif;
    font-size:12px;
    letter-spacing: 17px;
    font-weight: 15x;
}
h5{
  color: rgb(247, 245, 245);
    font-family: 'Bebas Neue', cursive;
    font-size: xx-large;
    letter-spacing: 5px;
}
h6{
    color: white;
    font-family: 'Bebas Neue', cursive;
    font-weight: 50;
    letter-spacing: 5px;
}
    
p{
    color:white;
}


/*CLASSES*/

.ositech{
    line-height: 1px;
}

.manonphoneimage{
  width:100%;
}
.camerasonwall{
  width:100%;
}
.cctvpic{
    max-width:40%;
}
/*BUTTON CONTACT*/
.button{
    border-style: solid;
    border-color:rgb(133, 133, 133) ;
    border-width: 1px;
    border-radius: 5px;
    background-color:rgba(150, 149, 149, 0.404);
    width:250px;
    height: auto;
    color: #858383;
}

.button:hover{
    width:auto;
    height:auto;
}

.active, .contactbutton:hover {
    background-color: rgb(238, 237, 237);
  }

  .content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
  }
/*ABOUT US START*/
.about_us_paragraph{
    
    font-family: 'Bebas Neue', cursive;
    font-weight: 5px;
    letter-spacing: 5px;
    padding: 5%;
    font-size: 25px;
    color:#c9c9c9;
    
  }

#about_us{
    padding: 5%;
    max-width:1400px;
  }

/*ABOUT US ENDS*/
 

/*LINK*/


.contactlink{
   
    text-decoration:dotted;
    text-decoration-color: #c9c9c9;
}
/*WHITE SECTION*/
.whitesection{
    background-color: white;
    border-top-left-radius: 28%;
    border-top-style: none;
}

.whitesectionbottom{
    background-color: white;
    border-bottom-right-radius: 80px;
    border-top-style: none;
}
/*WHITE SECTION ENDS*/


/*MAC PIC*/
.maccomputer{
    max-width:100%;
}
/*GRADIENT TEXT*/
.gradient-text {
    background-color: rgb(255, 255, 255);
    background-image: linear-gradient(45deg, #ffffff, #d1d3c2);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    
}

/*BURGER*/

#menu__toggle {
    opacity: 0;
  }
  #menu__toggle:checked + .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked + .menu__btn > span::before {
    top: 0;
    transform: rotate(0deg);
  }
  #menu__toggle:checked + .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    left: 0 !important;
  }
  .menu__btn {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 35px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #cfcbcb;
    transition-duration: .25s;
  }
  .menu__btn > span::before {
    content: '';
    top: -8px;
  }
  .menu__btn > span::after {
    content: '';
    top: 8px;
  }
  .menu__box {
    display: block;
    position: fixed;
    top: 0;
    left: -100%;
    width: 175px;
    height: 30%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: #000000;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
    transition-duration: .25s;
    border-radius: 5px;
  }
  .menu__item {
    display: block;
    padding: 12px 24px;
    color: rgb(255, 255, 255);
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
    text-decoration: none;
    transition-duration: .25s;
    font-weight: 50;
    letter-spacing: 5px;
  }
  .menu__item:hover {
    background-color: #CFD8DC;
  }

/*END BURGER*/
/*begin smooth animation 1*/

.smoothed-out {
  overflow: hidden;
  border-right: .15em solid rgb(0, 0, 0);
  font-size: 1.6rem;
  width: 0;
  line-height: 25px;
}
.onecontainer {
  display: inline-block;
}
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}
.smoothed-out{
  overflow: hidden;
  border-right: .15em solid rgba(0, 0, 0, 0.192);
  white-space: nowrap;
  font-size: 1.6rem;
  width: 0;
  animation: typing 2s forwards;
  padding: 1%;
}
/*end smooth animation*/
/*begin smooth animation 2*/

.smoothed-out2 {
  overflow: hidden;
  border-right: .15em solid rgb(0, 0, 0);
  font-size: 1.6rem;
  width: 0;
  line-height: 25px;
}

.smoothed-out2{
  overflow: hidden;
  border-right: .15em solid rgba(0, 0, 0, 0.192);
  white-space: nowrap;
  font-size: 1.6rem;
  width: 0;
  animation: typing 4s forwards;
  padding: 1%;
}
/*end smooth animation*/
/*begin smooth animation 3*/

.smoothed-out3 {
  overflow: hidden;
  border-right: .15em solid rgb(0, 0, 0);
  font-size: 1.6rem;
  width: 0;
  line-height: 25px;
}

.smoothed-out3{
  overflow: hidden;
  border-right: .15em solid rgba(0, 0, 0, 0.192);
  white-space: nowrap;
  font-size: 1.6rem;
  width: 0;
  animation: typing 6s forwards;
  padding: 1%;
}
/*divider*/
/*begin smooth animation 3*/

.smoothed-out3 {
  overflow: hidden;
  border-right: .15em solid rgb(0, 0, 0);
  font-size: 1.6rem;
  width: 0;
  line-height: 25px;
}

.smoothed-out4{
  overflow: hidden;
  border-right: .15em solid rgba(0, 0, 0, 0.192);
  white-space: nowrap;
  font-size: 1.6rem;
  width: 0;
  animation: typing 10s forwards;
  padding: 1%;
}
/*divider*/
/* Rounded border */
hr.rounded {
  border-top: 8px solid #bbb;
  border-radius: 5px;
}
