
header{
  height:auto;
  position:fixed;
  top:0;
  width:100%;
  z-index: 100;
  left:0;
  height: 60px;
}
.headerlink{
  text-decoration: none;
}
body{
    background-color: rgb(255, 255, 255);
}


footer{
 width:100%;
 left:0;
  bottom: 0; 
  border:solid;
  border-color: white;
  background: linear-gradient(to right, #ffc6d0a2, #e1ffdbb7);
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  position: fixed;
}


/*FONTS*/
h1{
    color: rgb(0, 0, 0);
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 400;
    letter-spacing: 5px;
   
}

h2{
    color: rgb(0, 0, 0);
    font-family: 'Bebas Neue',  sans-serif;
    letter-spacing: 5px;
}

h3{
    color: black;
    font-family: 'Smooch Sans', sans-serif;
    font-size: 4vw;
    letter-spacing: 5px;
}
h4{
    color: rgb(0, 0, 0);
    font-family: 'Smooch Sans', sans-serif;
    font-size:12px;
    letter-spacing: 17px;
    font-weight: 15x;
}
h5{
  color: rgb(0, 0, 0);
    font-family: 'Bebas Neue',  sans-serif;
    font-size: xx-large;
    letter-spacing: 5px;
}
h6{
    color: rgb(0, 0, 0);
    font-family: 'Bebas Neue',  sans-serif;
    font-weight: 50;
    letter-spacing: 5px;
}
    
p{
    color:white;
}
